html,
body {
  height: 100%;
}

body {

  align-items: center;
  background-color: #f5f5f5;
}

.card
{
  border-radius: 20px;
}

.card-body
{
  padding-left: 5px
}

.card-text
{
  text-align: left
}

.form-check
{
  margin: auto 0;
  padding: 0;
}
fieldset
{
  border-radius: 20px
}
.tableFixHead          { overflow-y: auto; height: 100%; }
.tableFixHead thead th { position: sticky; top: 0; background: #f5f5f5; }